.fixed-width {
	width: 940px;
	margin:0 auto;
}
.icon {
	height: 62px;
	width: 62px;
	background-image: url("../img/flat-icons.png");
}
.cecny-icon {
	height: 64px;
	width: 64px;
	background-image: url("../img/cecny-icons.png");
}
.i-facebook{
	background-position:-187px -204px;
}
.i-linkedin{
	background-position:-427px -288px;
}
.i-twitter {
	background-position:-187px -458px;
}

.i-join-us {
	background-position:-22px -16px;
}
.i-contact-us {
	background-position:-95px -16px;
}
.i-subscribe-us {
	background-position:-164px -16px;
}
.img-scroll{
	height:500px;
	width:1280px;
	position: relative;
}
.img-event{
	height:300px;
	width:260px;				
}
.img-text{
	position: absolute;
	top: 10px;
	left: 10px;
}

.align-center {
	width: 940px;
	margin: auto;
}
